body{
    font-family:  sans-serif;
    margin: 0 0 20px;
}
nav{
    background-color: #cf3d36;
}
h6{
    color:white;
    text-align: center;
    font-size: 32px;
    font-weight: 500;
    padding-top: 64px;
}
.description-of-celebrate p{
    color:#524c4c;
    font-size: 16px;


}
.description-of-celebrate div{
    margin-bottom: 16px ;
}
.description-of-celebrate h2{
    font-size: 18px;
    font-weight: bold;
}
.celebrate-save-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    margin: 32px;
    
}
.description{
    margin-bottom: 32px;
    margin-top: 16px;
   
}
.description-child p{
    display: flex;
  flex-direction: column;
  margin-bottom: 18px;
  color:#524c4c;
  width:816px;
}
.ciUser{
    display: flex;
    justify-content: flex-start;
    color:#524c4c;
     margin-left: 32px;
}
.ci{
    margin-right: 16px;
}
.description h2{
    margin-bottom: 16px;
}
img{
    width:494px;
    height:396px;
}