.admin-sidebar {
  display: flex;
  flex-direction: column;
  height: 100%; 
  border-right: 1px solid #e2e8f0;
  background-color: white;
  /* width: 250px; */
  flex-shrink: 0;
  overflow-y: auto; 
} 

.sidebar-header {
  padding: 1rem;
  border-bottom: 1px solid #e2e8f0;
  flex-shrink: 0;
}

.app-name {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.user-info {
  font-size: 0.875rem;
  color: #64748b;
}

.sidebar-nav {
  /* flex: 1;  */
  overflow-y: auto; /* Enable scrolling if content is too long */
}

.sidebar-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  padding: 0.75rem 1rem;
  cursor: pointer;
}

.nav-item:hover {
  background-color: #f1f5f9;
}

.nav-item.active {
  background-color: #e2e8f0;
}

.sidebar-nav a,
.sidebar-footer a {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #cf3d36;
}

.sidebar-footer {
  flex-shrink: 0; 
  border-top: 1px solid #e2e8f0;
  padding: 0.5rem 0;
}

.footer-title {
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #64748b;
  padding: 0.5rem 1rem;
}