.admin-navbar {
  display: flex;
  padding: 0 1rem;
  background: white;
  border-bottom: 1px solid #e0e0e0;
  align-items: center;
  height: 60px;
  position: fixed;
  top: 0;
  left: 250px; 
  right: 0;
  z-index: 10;
  transition: left 0.3s ease, width 0.3s ease; 
}


.sidebar-closed .admin-navbar {
  left: 0;
  width: 100%; 
}

.sidebar-open .admin-navbar {
  left: 500px;
  width: calc(100%-250px); 
}

.admin-side-navbar {
  width: 250px;
  position: fixed;
  left: 0;
  top: 0; 
  bottom: 0;
  transition: transform 0.3s ease;
  z-index: 9;
}

.sidebar-closed .admin-side-navbar {
  transform: translateX(-100%);
}

/* Content area adjustment */
.admin-page-content {
  margin-top: 60px;
  transition: margin-left 0.3s ease;
}

.sidebar-open .admin-page-content {
  margin-left: 0px;
}

.sidebar-closed .admin-page-content {
  margin-left: 0;
}