.ragat-chahiyo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 32px;
    gap: 32px;
  }
  .ragat-chahiyo-nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 16px;
  
  }
  .ragat-chahiyo-nav h6{
      font-size: 28px;
      font-weight: 500;
      text-shadow: gray;
  }
  .ragat-chahiyo-nav h1{
      font-size: 16px;
      font-weight: bold;
      text-shadow: gray;
  }
  .ragat-chahiyo-nav p{
      font-size: 16px;
      font-weight: bold;
      text-shadow: gray;
  }
  nav {
    display: flex;
    flex-direction: row;
    margin-top: 32px;
    margin-bottom: 16px;
  }
  .piline {
    height: 24px;
    color: #cf3d36;
    width: 32px;
  }
  .cidroplet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
  }
  .blood-request-today {
    display: flex;
    flex-direction: row;
    background-color: #b4ebe6;
    width: 1100px;
    height: 164px;
    justify-content: center;
    align-items: center;
    gap: 64px;
    border-radius: 8px;
   padding-top: 32px;
   padding-bottom:32px ;
  }
  .blood-request-today .blood-req {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    height: 64px;
    color: #cf3d36;
  }
  .blood-request-today h2 {
    font-weight: 64px;
    color: black;
    font-size: 20;
    
  }
  .ci {
    color: #cf3d36;
    width: 32px;
    height: 32px;
  }
  .cidroplet {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 16px;
    padding:32px;
  }
  .blood-request-today h6 {
    font-size: 24px;
  }
  .ragat-chahiyo-call  {
    width: 68px;
    height: auto;
    display: inline-flex;
    justify-content: flex-start;
    gap:20px;
  }
  .ragat-chahiyo-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 1110px;
  }
  .description-part h6 {
    font-size: 32px;
    font-weight: bold;
    
  }
  .partners-logo {
    display: grid;
  grid-template-columns: repeat(4,1fr);
    height:300px;
    gap: 64px; 
    justify-content: center;
    
   
   
  }
  .partners-logo img {
    width: fit-content;
    border: 1px solid rgb(244, 238, 238);
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
    width: 168px;
    border-radius: 4px;
   
    padding: 24px;
  }
  .help-line-map{
      display: grid;
      grid-template-columns: repeat(3,1fr);
  
      align-items: center;
     
      width: auto;
      gap:32px;
     
     
  }
  .help-line-item img{
      display: flex;
      width:60px;
      height: 60px;
      justify-content: center;
      align-items: center;
  }
  .help-line-item{
      display: flex;
      flex-direction: column;
      width: 404px;
      justify-content: center;
      align-items: center;
      gap:16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
      padding:24px;
       
  }
  .help-line-map :hover{
      background-color: #cf3d36;
      color:white;
      transition:  0.2s ease, box-shadow 0.1s ease;
  }
  .help-line-item img{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
  .description-helpline{
  display: flex;
  flex-direction: column;
   justify-content: center;
   align-items: center;
  }
  .description-helpline h5{
    font-size: 16px;
    font-weight: bold;
  
  }
  .ragat-chahiyo-container h6{
      font-weight: 400;
      font-size: 32px;
      font-style: normal;
  }
  .ragat-chahiyo-contact-section img{
      display: flex; 
      width:30px;
      height:30px;
      margin: 32px;
      
  }
  .arrow{
      color:#cf3d36;
      margin-left: 8px;
      margin-right: 8px;
  }
  .no-blood-req{
    background-color: #FFF3DC;
    width:1110px;
    padding:8px;
    margin-top: 4px;
    margin-bottom:32px;
    border: 1px solid #FFF3DC;
    border-radius: 4px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .ragat-chahiyo-contact-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
  }